@model IEnumerable<HiepHuynh_2011061513.Models.Course>
@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li class="date">
                <div class="month">
                    @course.Datetime.ToString("MM")
                </div>
                <div class="day">
                    @course.Datetime.ToString("dd")
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecture.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
            </li>
        }
    </ul>
</div>
    
